Package: com.d11z.textyle
Name: Textyle
Depends: mobilesubstrate, com.spark.libsparkapplist
Version: 1.1
Architecture: iphoneos-arm
Description: Quickly style any text
Maintainer: Deniz Basegmez
Author: Deniz Basegmez
Section: Tweaks
